header {
    background-color: #4b4a4a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    margin-left: 1rem;
    margin-right: 1px;
}
header > * {
    /* this makes all the children of this header be affected with CSS styling */
}

header .reactfax{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #b1a7a7;
    margin-right:auto;
    margin-left: 1rem;
}

header a{
    margin-right: 1rem;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    color: grey;
}